<h1>New Game</h1>
<form>
    <div class="form-group">
       <label for="Family">Family</label>
        <select  id="Family" class="form-control" (change)="onMakeChange()" [(ngModel)]="game.family" name="Family">
           <option value=""></option> 
            <option *ngFor="let f of families" value=" {{f.id}}">{{f.name}}</option>
        </select>

    </div>
     <div class="form-group">
         <label for="category">Category</label>
          <select  id="category" class="form-control">
              <option value=""></option>
              <option *ngFor="let m of categories" value="{{m.id}}">{{m.name}}</option>

          </select>
     </div>                  


    <p>Recommend game?</p>
   
    <label for="recommend" class="radio-inline">
        
        <input type="radio" id="recommend" vale="true" name="recommended"/> Yes
        
      </label>
  

    
        <label for="notrecommend" class="radio-inline">

            <input type="radio" id="notrecommend" vale="false" name="recommended"/>No

        </label>
 

<h2>Mechanics</h2>
 <div *ngFor="let m of mechanics" class="checkbox">
     <label for="mechanic{{m.id}}">
         <input type="checkbox" id="mechanic{{m.id}}" />{{m.name}}
     </label>
 </div>

<div class="form-group">
    <label for="Title">Title</label>
    <input id="Title" type="text" class="form-control" />
</div>

    <div class="form-group">
        <label for="Publisher">Publisher</label>
        <input id="Publisher" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Year">Year Released</label>
        <input id="Year" type="number" class="form-control" />
    </div>

    <button class="btn btn-primary">Save</button>

</form>

        